@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
    background-color: hsl(13, 31%, 94%);
    display: flex;

    align-items: center;
   
}
.container{
    margin: 50px 0 10px 50px;
}
.container h1{
    margin-left: 53px;
}
.container .grid{
    gap: 20px;
   
    display: grid;
    grid-template-columns:220px 220px 220px;
    
    margin: 20px 50px;
}
img{
max-width: 230px;
border-radius: 5px;
}
.card{
position: relative;
display: flex;
flex-direction: column;
line-height: 1.5;


}
.card span:nth-of-type(1) {
    margin-top: 30px;
}
.card p{
    font-weight: 600;
}
.card span:nth-of-type(2) {
 color: hsl(14, 86%, 42%);
 font-weight: 700;
}
.card a{
    padding: 8px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid hsl(14, 86%, 42%);
    position: absolute;
    top: 190px;
    right: 13%;
    background: white;
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.two .logo,
.four  .logo,
.nine .logo{
border: 2px solid hsl(14, 86%, 42%);
}
.two a,
.four a ,
.nine a{
    background: hsl(14, 86%, 42%);
    color: white;
    gap: 40px;
    
}
.two a img,
.four a img,
.nine a img{
 
    padding: 4px;
    border-radius: 50%;
    border: 1px solid white;
}
.two a .m,
.four a .m ,
.nine a .m{
 
    padding: 8px 5px;
}
.cart{
  
    min-width: 300px;
    background: white;
    padding: 30px 20px 0 20px;
    display: flex;
    flex-direction: column;
    margin-top: -479px;
    border-radius: 10px;
}
.cart h3{
    color: hsl(14, 86%, 42%);
    
}
.cart .orders{
    margin-top: 20px;
    margin: 30px  0;
}

.cart .orders h5{
   margin-top: 10px;
   font-weight: 700;

}
.cart .txt {
   
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
}
.cart .txt img{
    margin-top: -30px;
    padding: 1px;
    border-radius: 50%;
    border: 1px solid hsl(14, 86%, 42%);
}
.cart .txt p{
    display: flex;
    gap: 10px;
    font-weight: 400;
    margin: 5px  0;
    
   
}
.cart .txt p span{
    color: hsl(14, 86%, 42%);
    font-weight: 600;
    font-size: 14px;
}
.cart .txt p span:nth-of-type(2){
    font-weight: 400;
    
}
.cart .last p {
    font-weight: 500;
    padding: 5px 0;
}
.delivery{
    width: 100%;
  font-size: 12px ;
  text-align: center;
  background:  hsl(13, 31%, 94%);
  padding: 8px 0;
  border-radius: 5px;


 
 
}

.delivery img{
    width: 15px;
   margin-top: 2px;
   margin-right: 5px;
}
button{
    margin-top: 30px;
    width: 100%;
    color: white;
    background: hsl(14, 86%, 42%);
    padding: 10px 0;
    border-radius: 50px;
    border: none;
}
@media screen and (max-width:376px) {
    body{
        display: flex;
        flex-direction: column;
    }
    .container{
        margin: 10px 0 10px 15px;
        max-width: 350px;
    }
    .container .grid{
        grid-template-columns: 300px;
       
        
    }
    
    .cart{
        margin-top: 10px;
    }
    .card a{
        right: 33%;
    }
}